# Dependencies
node_modules

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# macOS
.DS_Store

# Build files
dist
build

# Vite
.vite

# Coverage
coverage

# IDE
.vscode

# Temporary files
*.tmp
*.temp